/TMP
templates/TMP
__pycache__/
templates/gtemp.html
templates/form.html
config/openehrtool.cfg
templates/ecomp.html
templates/ucomp.html
templates/cform.html
templates/dtemp.html
templates/utemp.html
templates/pcomp.html
templates/gaql.html
templates/raqlstored.html
templates/pbatch1.html
templates/pbatch2.html
templates/test*
.vscode/
static/img/StethoQuest.png
static/img/pexels-snapwire-6728.jpg
static/img/questionmarkstethoscope.png
