<!DOCTYPE html>
<html lang="en">
	<head>
		    
		<H1><title>EHRBase Access Tool</title></H1>
		<link rel="stylesheet" href="basic.css">
	</head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/basic.css') }}">
	<body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="about.html">About</a>
      <a href="ehrbase.html">Settings</a>
      <a href="gtemp.html">Get Template</a>            
      <a href="ptemp.html">Post Template</a>
      <a href="gehr.html">Get EHR</a>
      <a href="pehr.html">Post EHR</a>
      <a href="gcomp.html">Get Composition</a>            
      <a href="pcomp.html">Post Composition</a>
      <a href="gaql.html">GET AQL Query</a>
      <a href="paql.html">POST AQL Query</a>
      <a href="raql.html">RUN AQL Query</a>
      <a href="pbcompo.html">POST BATCH Compositions</a>
    </div>
          
          <!-- Use any element to open the sidenav -->
          <span onclick="openNav()"><h2>-Menu</h2></span>
          
          <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
          <div id="main">
            <h1>Retrieve a stored AQL query or the list</h1>

            <div id=forms style = "position:relative; left:80px; top:2px;">
            
            <form id="form1">
              <label for="template">Name of the query to be retrieved (blank for all):</label><br>
              <input type="text" id="qname" name="qname"><br><br>
              <label for="version">Version (Optional but necessary for the query text):</label><br>
              <input type="text" id="version" name="version"><br><br><br>
              <input name="pippo" type="submit" value="Submit">
            </form>

            <div id="template" style = "position:relative; left:80px; top:2px;"></div>
            <h2>Result</h2>
{% macro linebreaks_for_string( the_string ) -%}
{% if the_string %}
{% for line in the_string.split('\n') %}
<br />
{{ line }}
{% endfor %}
{% else %}
{{ the_string }}
{% endif %}
{%- endmacro %}
{{ linebreaks_for_string( yourresults ) }} 
            </div>
          </div>



          </div> 

	</body>
  <script src="{{url_for('static', filename='javascript/mynav.js')}}"></script>
</html>