<!DOCTYPE html>
<html lang="en">
	<head>
		    
		<H1><title>EHRBase Access Tool</title></H1>
		<link rel="stylesheet" href="basic.css">
	</head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/basic.css') }}">
	<body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="about.html">About</a>
            <a href="ehrbase.html">Settings</a>
            <a href="gtemp.html">Get Template</a>            
            <a href="ptemp.html">Post Template</a>
            <a href="gehr.html">Get EHR</a>
            <a href="pehr.html">Post EHR</a>
            <a href="gcomp.html">Get Composition</a>            
            <a href="pcomp.html">Post Composition</a>
            <a href="gaql.html">GET AQL Query</a>
            <a href="paql.html">POST AQL Query</a>
            <a href="raql.html">RUN AQL Query</a>
            <a href="pbcompo.html">POST BATCH Compositions</a>
          </div>
          
          <!-- Use any element to open the sidenav -->
          <span onclick="openNav()"><h2>-Menu</h2></span>
          
          <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
          <div id="main">
            <h1>Post a composition</h1>

            <div id=forms style = "position:relative; left:80px; top:2px;">

              <h2>Choose the file</h2>

              <div id="pippo" style = "position:relative; left:20px; top:2px;">
              <form method="POST" action="" enctype="multipart/form-data">
                <p><input type="file" name="file"></p>
                <p><input type="submit" value="Submit"></p>
              </form>
              </div>
              {{yourfile}}
              <br><br>
             
              <h2>Set the properties and post the composition</h2>

              <div id="pluto" style = "position:relative; left:20px; top:2px;">
              <form id="form1">
                  <h4>Format</h4>
                  <input type="radio" name="filetype" value="XML">XML</input>
                  <input type="radio" name="filetype" value="JSON">JSON</input>
                  <input type="radio" name="filetype" value="FLAT" checked>FLAT JSON</input>
              
                  <br><br>

                  <h4>EHRID</h4>
                    <input type="text" id="ename" name="ename" value={{last}} > <br><br><br>
                
                  <h4>TemplateID</h4>
                  <input type="text" id="tname" name="tname"> <br><br><br>

                  <h4>Check Against original Composition</h4>
                  <input type="radio" name="check" value="Yes">Yes</input>
                  <input type="radio" name="check" value="No" checked>No</input>
                  <br><br><br><br>


                  <input id="fform1" name="fform1" type="submit" value="POST THE COMPOSITION">
                </form> 




              </div>
<br><br><br>
              <h2>Results</h2>
              {% macro linebreaks_for_string( the_string ) -%}
              {% if the_string %}
              {% for line in the_string.split('\n') %}
              <br />
              {{ line }}
              {% endfor %}
              {% else %}
              {{ the_string }}
              {% endif %}
              {%- endmacro %}

              {{ linebreaks_for_string( yourresults ) }}
              <br><br> 
              {{checkresults}}
              <br><br> 
              {{checkinfo}}
            </div>
          </div>



          </div> 

	</body>
  <script src="{{url_for('static', filename='javascript/mynav.js')}}"></script>
</html>