<!DOCTYPE html>
<html lang="en">
	<head>		    
		<title>EHRBase Access Tool</title>
	</head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/basic.css') }}">
	<body>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="about.html">About</a>
            <a href="ehrbase.html">Settings</a>
            <a href="ptemp.html">Post Template</a>
            <a href="gtemp.html">Get Template</a>
            <a href="pcomp.html">Post Composition</a>
            <a href="gcomp.html">Get Composition</a>
            <a href="paql.html">POST AQL</a>
            <a href="pbcompo.html">POST BATCH Compositions</a>
          </div>
          
          <!-- Use any element to open the sidenav -->
          <span onclick="openNav()">Menu</span>
          
          <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
          <div id="main">
              <H1>EHRBase Access Tool</H1>
              <br><br>
            This is a raw tool meant to make it easier to interact with a EHRBase server.      
        
            <!-- <pre lang="xml"><note><to>Tove</to><from>Jani</from><heading>Reminder</heading><body>Don't forget me this weekend!</body></note>}}</pre> -->
            <pre lang="xml">pippo</pre>
            <pre lang="xml"> <p id="pluto">test</p></pre>
            <iframe id="myiframe"></iframe>
            <script>
                function escapeXml(unsafe) {
                    return unsafe.replace(/[<>&'"]/g, function (c) {
                        switch (c) {
                            case '<': return '&lt;';
                            case '>': return '&gt;';
                            case '&': return '&amp;';
                            case '\'': return '&apos;';
                            case '"': return '&quot;';
                        }
                    });
                }

            var content= "<?xml version=\"1.0\" encoding=\"UTF-8\"?><note><to>Tove</to><from>Jani</from><heading>Reminder</heading><body>Don't forget me this weekend!</body></note>"         
            var contenturi=escapeXml(content)
        //     var iframe = document.getElementById('myIframe');
        //   //  var iframe = $('#auditframe').get(0).contentWindow;
        //     var idoc= iframe.contentDocument || iframe.contentWindow.document;
        //     idoc.open("text/xml")
        //     idoc.write('<textarea name="xml" rows="5" cols="60"></textarea>');
        //     idoc.getElementsByTagName('textarea')[0].value= contenturi;

        //     iframe.document.open("text/xml", "replace");
        //     iframe.document.write(content);
            document.write(contenturi)
            document.getElementById("pluto").innerHTML = contenturi;

            </script>

          </div> 
	</body>

  <script src="{{url_for('static', filename='javascript/mynav.js')}}"></script>
</html>